-@width = "350"

= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put, class: "form-signin form-horizontal"}) do |f|
  = bootstrap_flash
  -if resource.errors.any?
    -resource.errors.each do |where, msg|
      -next if msg.empty?
      .alert.alert-error.fade.in
        Error in #{readable(where)}: #{msg}

  .page-header
    %h2 
      Change password
      %small (#{@user.login})
  .control-group
    = f.label :password, class: "control-label"
    .controls
      = f.password_field :password, placeholder: "new password"
  .control-group
    = f.label :password_confirmation, class: "control-label"
    .controls
      = f.password_field :password_confirmation, placeholder: "new password confirmation"
  .control-group
    = f.label :current_password, class: "control-label"
    .controls
      = f.password_field :current_password, placeholder: "old password"
  
  .form-actions
    = f.submit "Change", class: "btn btn-primary"
    = link_to "Back", :back, class: "btn"
    
    
    