-@width = "350"

= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: "form-signin form-horizontal"}) do |f|
  .page-header
    %h3 Forgot your password?
  = devise_error_messages!
  
  .control-group
    = f.label :login, class: "control-label"
    .controls
      = f.text_field :login, placeholder: "login"
  .control-group
    = f.label :email, class: "control-label"
    .controls
      = f.email_field :email, placeholder: "email"
      
  .form-actions
    = f.submit "Send me the instructions", class: "btn btn-primary"
  

