.modal.hide.fade{id: "reservationModal" + (defined?(reservation)? reservation.sid : "") ,role: "dialog", "aria-labelledby" => "reservationLabel", "aria-hidden" => "true"}
  .modal-header
    %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
    %h3#reservationLabel
      -if defined?(reservation)
        = reservation.summary
  .modal-body
    %table.table.table-bordered
      %tbody
        -unless defined?(hide_author) && hide_author
          %tr
            %td
              %strong Author
            %td#authorField
              - if defined?(reservation)
                = mute(reservation.author) do
                  = link_to reservation.author.login, user_path(reservation.author)
                  
        -if defined?(show_room) && show_room
          %tr
            %td
              %strong Room
            %td#roomField
              - if defined?(reservation)
                = link_to reservation.room.name, room_path(reservation.room)
        %tr
          %td
            %strong Start
          %td#startField
            -if defined?(reservation)
              = reservation.start.to_s :date_time_nosec
        %tr
          %td
            %strong End
          %td#endField
            -if defined?(reservation)
              = reservation.end.to_s :date_time_nosec
        %tr
          %td
            %strong Recurrence
          %td#recField
            - if (defined?(reservation))
              = mute(reservation.recurs?, "no recurrence") do
                = reservation.schedule.to_s
    %h4 Description:
    %blockquote
      %p#descriptionField
        -if defined?(reservation)
          = reservation.description
  .modal-footer
    .btn-group
      -if user_signed_in?
        %a.btn#editLink{href: (defined?(reservation)? edit_room_reservation_path(reservation.room, reservation): "#"), style: ((defined?(reservation) && reservation.type == :remote)? "display:none" : "")}
          = glyph("cog")
          Edit
        %a.btn.btn-danger#deleteLink{"data-confirm" => "Are you sure?", "data-method" => "delete", href: (defined?(reservation)? room_reservation_path(reservation.room, reservation) : "#"), style: ((defined?(reservation) && reservation.type == :remote)? "display:none" : "")}
          = glyph "remove"
          Delete
      %button.btn.btn-primary{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} Close
          