-content_for :script do
  :javascript
    var reservationsFeed = "#{room_reservations_path(@room)}"

.page-header
  %h2
    Reservations 
    %small= @room.name
  

  
%ul.nav.nav-tabs
  %li
    %a{href: "#list", data: {toggle: "tab"}} List view
  %li.active
    %a{href: "#calendar-tab", data: {toggle: "tab"}} Calendar view
    
.tab-content
  .tab-pane#list
    = form_tag(room_reservations_deletemany_path(@room)) do |f|
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Summary
            %th Author
            %th Start
            %th End
            %th Description
        %tbody
          - @reservations.each do |res|
            %tr
              %td
                
                %input.manyinput{type: "checkbox", name: "deleteids[#{res.id}]", value: "1", style: "display: none"}
                = res.summary
              %td= link_to res.author.login, user_path(res.author)
              %td= res.start.localtime.to_s :date_time_nosec
              %td= res.end.localtime.to_s :date_time_nosec
              %td= cutlong(res.description, 40)
              -if user_signed_in?
                %td
                  .btn-group
                    = link_to content_tag(:span,'', class: "icon-cog") + " Edit", edit_room_reservation_path(@room, res), class: "btn btn-small"
                    = link_to content_tag(:span,'', class: "icon-remove") + " Delete", room_reservation_path(@room, res), method: :delete, class:"btn btn-danger btn-small", data: {confirm: "Are you sure?"}
      
      %a.btn#manyswitch{href: "#"} Select many
      .form-actions#manyaction{style: "display: none;"}
        %input.btn.btn-danger{type: "submit", value: "Delete all selected"}
        .pull-right
          %a.close#manyclose{href: "#"} &times;
    
      
            
  .tab-pane.active#calendar-tab
    #calendar
    
= render "modal"
