-if @room.errors.any?
  .alert.alert-error.fade.in
    Some #{@room.errors.size==1? "error" : "errors"} occured, fix #{@room.errors.size==1? "it" : "them"} and try again.
  
= form_for(@room, html: {class: "form-horizontal"}) do |f|
  .control-group
    = f.label :name, class: "control-label"
    .controls
      = f.text_field :name, placeholder: "name"
      -unless @room.errors[:name].empty?
        %p.text-error-inline= @room.errors[:name].join(", ")
  .control-group
    = f.label :capacity, class: "control-label"
    .controls
      = f.text_field :capacity
      -unless @room.errors[:capacity].empty?
        %p.text-error-inline= @room.errors[:capacity].join(", ")
  .control-group
    = f.label :location, class:"control-label"
    .controls
      = f.text_field :location, placeholder: "location"
      -unless @room.errors[:location].empty?
        %p.text-error-inline= @room.errors[:location].join(", ")
  .control-group
    = f.label :equipment, class: "control-label"
    .controls
      = f.text_field :equipment, placeholder: "equipment"
      -unless @room.errors[:equipment].empty?
        %p.text-error-inline= @room.errors[:equipment].join(", ")
  .control-group
    = f.label :cal_url, "Calendar url", class: "control-label"
    .controls
      = f.text_field :cal_url, class: "input-long", placeholder: "url to calendar"
      -unless @room.errors[:cal_url].empty?
        %p.text-error-inline= @room.errors[:cal_url].join(", ")
          
  
  .form-actions
    = f.submit "Submit", class: "btn btn-primary"
    = link_to "Back", :back, class: "btn"
