.page-header
  %h1 Rooms
 
-if @rooms.any?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th ID
        %th Name 
        %th Capacity
        %th Location
        %th Equipment
    %tbody
      - @rooms.each do |room|
        %tr
          %td= room.id
          %td= link_to room.name, room_path(room)
          %td= room.capacity
          %td= room.location
          %td= room.equipment
          %td
            -if user_signed_in?
              = link_to "Edit", edit_room_path(room), class: "btn btn-mini"
              = link_to "Delete", room_path(room), method: :delete, class: "btn btn-danger btn-mini", data: {confirm: "Are you sure?"}
-else
  %p.lead No rooms, add some first
  